[Unit]
Description=INDI Web Manager
After=multi-user.target

[Service]
Type=idle
User=astroberry
ExecStart=/usr/bin/python3 /var/www/indiwebmanager/main.py -v -l /var/log/astroberry/indiwebmanager.log
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

